body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: #357edd;
  background-image: linear-gradient(#5694e4 1px, transparent 1px),
    linear-gradient(90deg, #5694e4 1px, transparent 1px);
  background-size: 60px 60px, 60px 60px;
}

.Maze-Union {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  height: 100vh;
  font-size: 30px;
}
